.sdspa-shell-body {
  background: #E54234;
  max-width: 1300px;
  margin: 0 auto;
}

.sdspa-shell-body-bodywrap {
  position: relative;
  margin: 30px 18px;
}

/* BEGIN Body animations for float in/out */
.fadeout-item {
  position: absolute;
  transition: all 800ms ease;
  transform: scale(0,0);
  opacity: 0;
  box-shadow: 0 4px 4px 3px rgba(0,0,0,0.2);
}

.fadeout-item-open {
  transform: scale(1,1);
  opacity: 1;
  position: absolute;
  box-shadow: 0 4px 4px 3px rgba(0,0,0,0.2);
}
/* END CSS Media Queries */

.sdspa-shell-body-bodywrap-projectscontainer {
  background: grey;
}

.sdspa-shell-body-bodywrap-biocontainer {
  background: #FFFFFF;
  color: black;
}

.sdspa-shell-body-bodywrap-writingscontainer {
  background: black;
}
