.sdspa-shell-header-name {
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 2px;
}

/* Rolling Links idea from http://tympanus.net/Development/CreativeLinkEffects/#nav-link-rolling-effect */
.nav-link-rolling-effect a {
	line-height: 44px;
  padding-left: 30px;
  float: right;
  color: #FFFFFF;

  /* perspective applies to the child element, and only affects 3d transformed elements */
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
        	perspective: 1000px;
}

.nav-link-rolling-effect a span {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	background: #FF6053;

  -webkit-transition: -webkit-transform 0.3s;
     -moz-transition:    -moz-transform 0.3s;
      -ms-transition:    -moz-transform 0.3s;
       -o-transition:    -moz-transform 0.3s;
          transition:         transform 0.3s;

	-webkit-transform-origin: 50% 0;
	   -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
	     -o-transform-origin: 50% 0;
	        transform-origin: 50% 0;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.nav-link-rolling-effect a span::before {
	position: absolute;
  text-align: center;;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FF6053;
	content: attr(data-hover);

	-webkit-transition: background 0.3s;
	   -moz-transition: background 0.3s;
      -ms-transition: background 0.3s;
       -o-transition: background 0.3s;
          transition: background 0.3s;

	-webkit-transform: rotateX(-90deg);
	   -moz-transform: rotateX(-90deg);
      -ms-transform: rotateX(-90deg);
       -o-transform: rotateX(-90deg);
          transform: rotateX(-90deg);

	-webkit-transform-origin: 50% 0;
	   -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
       -o-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

.nav-link-rolling-effect a:hover span,
.nav-link-rolling-effect a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	   -moz-transform: rotateX(90deg) translateY(-22px);
      -ms-transform: rotateX(90deg) translateY(-22px);
       -o-transform: rotateX(90deg) translateY(-22px);
        	transform: rotateX(90deg) translateY(-22px);
}

.nav-link-rolling-effect a:hover span::before,
.nav-link-rolling-effect a:focus span::before {
	background: #E54234;
}
